@font-face {
	font-family: "Metropolis";
	src: url("./assets/fonts/Metropolis-Medium.otf") format("opentype");
}

@font-face {
	font-family: "MetropolisBold";
	src: url("./assets/fonts/Metropolis-Bold.otf") format("opentype");
}

@font-face {
	font-family: "MetropolisExtraBold";
	src: url("./assets/fonts/Metropolis-ExtraBold.otf") format("opentype");
}

@media (prefers-color-scheme: dark) {
	:root {
		background: rgba(0, 0, 0, 0.8);
		color: #fff;
	}
	input {
		border: solid 1.5px #222525;
	}
}
  
@media (prefers-color-scheme: light) {
	:root {
		background: rgba(255, 255, 255, 0.8);
		color: #000;
	}
	input {
		border: solid 2px rgb(56, 56, 56);
	}
}

body {
	font-family: 'Metropolis', sans-serif;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.drag {
	position: absolute;
	top: 0;
	left: 0;
	height: 30px;
	width: 100%;
}

.drag-area {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: 30px;
	padding: 0 15px;
	user-select: none;
  	-webkit-app-region: drag;
}

.container {
	width: 100%;
	height: 100%;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}