@import url('https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i,900,900i|Saira+Extra+Condensed:100,200,300,400,500,600,700,800|Saira:100,200,300,400,500,600,700,800');
@media (prefers-color-scheme: dark) {
    body {
        --background: #191820;
        --color: #fff;
        --timeline-bg: rgba(255, 255, 255, 0.05);
        --p-color: rgba(255, 255, 255, 0.8);
        --border: #dfdfdf;
        --card: rgb(37 37 43);
        --input: #6b6a73;
        --input-bg: #1e1d25;
        --input-disabled-bg: #44444e;
        --input-disabled: rgb(155, 155, 155);
        --button: #fff;
        --button-color: #000;
        --button-disabled: rgb(210, 210, 210);
        --button-disabled-color: rgb(58, 58, 58);
        --hover: rgb(50, 50, 50);
        --small-border: rgb(68, 68, 68);
    }
    .logo_42 {
        height: 200px;
        filter: invert(96%) sepia(100%) saturate(2%) hue-rotate(330deg) brightness(109%) contrast(101%);
    }
}

@media (prefers-color-scheme: light) {
    body {
        --background: #f5f5fd;
        --color: #000;
        --timeline-bg: rgba(94, 94, 94, 0.05);
        --p-color: rgba(45, 45, 45, 0.8);
        --border: #636363;
        --card: #fff;
        --input: rgb(126, 126, 126);
        --input-bg: #fff;
        --input-disabled-bg: #dddddd;
        --input-disabled: rgb(175, 175, 175);
        --button: #000;
        --button-color: #fff;
        --button-disabled: rgb(77, 77, 77);
        --button-disabled-color: rgb(196, 196, 196);
        --hover: rgb(244, 244, 244);
        --small-border: #636363;
    }
    .logo_42 {
        height: 200px;
        filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(116deg) brightness(91%) contrast(103%);
    }
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    overflow: hidden;
    font-size: 16px;
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    color: var(--color);
    background: var(--background);
    font-family: 'Saira', sans-serif;
}

p {
    font-weight: 300;
    margin: 0;
}

strong {
    font-weight: 600;
}

h1 {
    letter-spacing: 1.5px;
    color: white;
    font-weight: 400;
    font-size: 2.4em;
}

h2,
h3 {
    margin: 0;
    font-family: 'Saira', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 500;
    font-size: 1.4em;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#creator {
    color: var(--color);
    position: absolute;
    bottom: 15px;
}

.drag {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 100%;
}

.drag-area {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    padding: 0 15px;
    user-select: none;
    -webkit-app-region: drag;
}


/*NAVBAR*/

.navbar {
    padding-top: 30px;
    width: 95%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar .profile-container {
    position: relative;
    margin-right: 20px;
    width: 180px;
    height: 50px;
}

.navbar .profile {
    position: relative;
    background: var(--card);
    cursor: pointer;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    border: solid 1px var(--small-border);
}

.navbar .profile i.arrow {
    position: absolute;
    right: 15px;
}

#profile-username {
    margin: 0 10px;
}

#profile-avatar {
    height: 40px;
    width: 40px;
    margin-left: 5px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}

#dropdown {
    overflow: hidden;
    background: var(--card);
    right: -2px;
    width: 100%;
    top: 48px;
    border-radius: 0 0 5px 5px;
    position: absolute;
    border-bottom: solid 1px var(--small-border);
    border-left: solid 1px var(--small-border);
    border-right: solid 1px var(--small-border);
}

#dropdown ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#dropdown li {
    padding: 5px 0;
    padding-right: 15px;
    border-top: solid 1px var(--small-border);
    text-align: right;
    cursor: pointer;
}

#dropdown li:hover {
    background-color: var(--hover);
}

#dropdown li i {
    margin-left: 10px;
}


/*END NAVBAR*/


/*CARDS*/

.cards {
    margin-bottom: 50px;
    margin-top: 50px;
    width: 95%;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.card {
    height: 100px;
    flex: 1 1 auto;
    margin: 0 15px;
    background: var(--card);
    border-radius: 5px;
    box-shadow: 0px 0px 50px -3px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: content-box;
}

.card i {
    font-size: 25px;
    margin-bottom: 15px;
}

.card p {
    font-size: 14px;
}

.card h2 {
    font-weight: 600;
}


/*END CARDS*/


/*TIMELINE*/

#timeline-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
}

.timeline {
    border-left: 4px solid var(--border);
    color: var(--p-color);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: var(--timeline-bg);
    font-family: 'Chivo', sans-serif;
    margin: 50px 0;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    box-sizing: border-box;
    width: calc(100% - 80px);
    font-weight: 100;
}

.timeline h1 {
    font-family: 'Saira', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 1.4em;
}

.timeline h3 {
    margin-bottom: 15px;
}

.timeline p {
    font-weight: 400;
}

.timeline .subtitle {
    font-weight: 300;
    margin-top: 0;
    font-size: 14px;
}

.timeline .event {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -230px;
    content: attr(data-date);
    color: var(--p-color);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 140px;
    font-family: 'Saira', sans-serif;
}

.timeline .event:after {
    background: var(--background);
    box-shadow: 0 0 0 4px var(--border);
    left: -57.85px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
}

.evaluator {
    font-weight: bold;
    cursor: pointer;
    color: var(--color);
    text-decoration: underline;
    transition: 0.2s;
    padding: 0 1px;
}

.evaluator:hover {
    background: var(--color);
    color: var(--background);
    transition: 0.2s;
}

.event i {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.event i p {
    margin: 0;
    margin-left: 10px;
    font-family: 'Saira', sans-serif;
    font-size: 14px;
}


/*END TIMELINE*/


/*LOGIN*/

#login {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vertical-separator {
    margin: 0 80px;
    height: 200px;
    width: 1px;
    background: var(--border);
}

.login-img {
    width: 40%;
    display: flex;
}

.login-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 40%;
}

.login-container h1 {
    color: var(--color);
    text-align: left;
    font-weight: 700;
    font-size: 30px;
    margin: 0;
}

.login-container h2 {
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 50px;
}

input[type="text"],
input[type="password"],
input[type="text"]:focus,
input[type="password"]:focus {
    outline: 0;
    box-sizing: border-box;
    font-family: 'Saira', sans-serif;
    background: transparent;
    border: solid 1px var(--input);
    background: var(--input-bg);
    color: var(--input);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    width: 100%;
}

input[type="text"]:enabled::placeholder,
input[type="password"]:enabled::placeholder {
    color: var(--input);
}

input[type="text"]:disabled,
input[type="password"]:disabled {
    color: var(--input-disabled);
    border: solid 2px var(--input-disabled);
    background: var(--input-disabled-bg);
}

input[type="text"]:disabled::placeholder,
input[type="password"]:disabled::placeholder {
    color: var(--input-disabled);
}

button {
    cursor: pointer;
    background: var(--button);
    color: var(--button-color);
    height: 55px;
    border-radius: 10px;
    border: 0;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
}

button i {
    margin-right: 10px;
}

button:disabled {
    cursor: default;
    background: var(--button-disabled);
    color: var(--button-disabled-color);
}

#error_message {
    text-align: center;
}

#loading {
    z-index: 100;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}


/*END LOGIN*/

#settings {
    z-index: 10;
    display: flex;
    justify-content: start;
}

.page-top-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    height: 61px;
}

.page-top-bar h1 {
    color: var(--color);
    margin: 0;
    font-weight: 600;
}

.icon-btn {
    position: absolute;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 40px;
    width: 40px;
    background: var(--button-color);
    border-radius: 10px;
    border: solid 1px var(--border);
}


/*SPINNER*/

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*END SPINNER*/


/*CHECKBOX*/

input[type=checkbox] {
    height: 17px;
    width: 17px;
    border-radius: 10px;
    cursor: pointer;
}

input[type=checkbox]+label {
    color: var(--color);
    cursor: pointer;
}

input[type=checkbox]:checked+label {
    color: var(--color);
    font-weight: 500;
}

input[type="checkbox"]:checked+label::after {
    content: '';
    position: absolute;
    width: 1.2ex;
    height: 0.4ex;
    background: var(--color);
    top: 0.9ex;
    left: 0.4ex;
    border: 3px solid var(--button-color);
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"] {
    line-height: 2.1ex;
}

input[type="radio"],
input[type="checkbox"] {
    position: absolute;
    left: -999em;
}

input[type="checkbox"]+label {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

input[type="checkbox"]+label::before {
    content: "";
    display: inline-block;
    vertical-align: -10%;
    height: 2ex;
    width: 2ex;
    background-color: transparent;
    color: var(--color);
    border-radius: 4px;
    box-shadow: none;
    border: var(--color) solid 1px;
    margin-right: 0.5em;
}

input[type="checkbox"]:checked+label::before {
    background-color: var(--button);
}


/*END CHECKBOX*/


/*STAR WARS*/

.star-wars-container .icon-btn {
    background: transparent !important;
}

.star-wars-container .icon-btn i {
    color: #fff;
}

.star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
}

.crawl {
    position: relative;
    top: 99999px;
    transform-origin: 50% 100%;
    animation: crawl 110s linear;
}

.crawl>.title {
    font-size: 60px;
    text-align: center;
}

.crawl>.title h1 {
    color: #feda4a !important;
    margin: 0 0 100px;
    font-size: 120px;
    text-transform: uppercase;
}

@keyframes crawl {
    0% {
        top: 120vh;
        transform: rotateX(20deg) translateZ(0);
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}

.star-wars-container {
    position: absolute;
    background: #000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 150;
    overflow: hidden;
}


/*END STAR WARS*/